body {
    width: 100%;
    font-family: "Poppins";
    text-align: center;
    background: #03005D;
    background-image: linear-gradient(to top, #010019, #03005D);
}

.container{
    width: 50%;
    margin-bottom: 30px;
}

.tituloCustomizar {
    font-size: 30px;
    margin-bottom: 45px;
    color: yellow;
    font-weight: bold;
}


